.seConnecter {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
}
.vousNavezPas {
  position: relative;
  font-size: var(--body-body-2-size);
  letter-spacing: 0.01em;
  line-height: 20px;
  color: var(--colors-text-neutral-600);
}
.button {
  cursor: pointer;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--heading-h1-semibold-size);
  color: var(--colors-text-neutral-800);
}
.email {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label {
  flex: 1;
  width: 510px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.textfield {
  border: 0;
  background-color: transparent;
}
.button1,
.input,
.textfield {
  align-self: stretch;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.button1 {
  cursor: pointer;
}
.frame {
  width: 100%;
  height: 376px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 530px;
  text-align: left;
  font-size: var(--body-body-2-size);
  color: var(--colors-text-neutral-600);
  font-family: var(--body-body-2);
}
