.titreh2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1312px;
  flex-shrink: 0;
}
.creativeIcon {
  max-height: 450px;
  height: auto;
  width: 100%;
  object-fit: contain;
}
.description {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  text-align: justify;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  min-width: 350px;
  text-align: left;
  font-size: var(--subtitle-subtitle-1-size);
  color: var(--text-gray-900);
}
.avantages,
.titreh2Parent {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titreh2Parent {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-23xl);
}
.avantages {
  flex-direction: column;
  padding: var(--padding-81xl) var(--padding-xl);
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--color-black);
  font-family: var(--body-body-2);
}
@media screen and (max-width: 1200px) {
  .titreh2Parent {
    flex-direction: row;
    gap: var(--gap-23xl);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .titreh2Parent {
    flex-direction: row;
    gap: var(--gap-23xl);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .titreh2Parent {
    flex-direction: row;
    gap: var(--gap-23xl);
    align-items: center;
    justify-content: center;
  }
}
