.logotype {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rightnav {
  cursor: pointer;
}
.header {
  align-self: stretch;
  background-color: var(--color-darkorange);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-20xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--body-body-2);
}
@media screen and (max-width: 1200px) {
  .header {
    flex-direction: row;
    gap: var(--gap-1120xl);
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  .header {
    flex-direction: row;
    gap: var(--gap-1120xl);
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 420px) {
  .header {
    flex-direction: row;
    gap: var(--gap-1120xl);
    align-items: center;
    justify-content: space-between;
  }
}
