.accueil {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}
.avantages {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}
.navitems {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 500px;
  max-width: 800px;
  text-align: left;
  font-size: var(--body-body-2-size);
  color: var(--text-gray-900);
  font-family: var(--body-body-2);
}
@media screen and (max-width: 1200px) {
  .navitems {
    flex-direction: row;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 960px) {
  .navitems {
    flex-direction: row;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 420px) {
  .navitems {
    flex-direction: row;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-end;
  }
}
