.sinscrire {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
}
.vousAvezUn {
  position: relative;
  font-size: var(--body-body-2-size);
  letter-spacing: 0.01em;
  line-height: 20px;
  color: var(--colors-text-neutral-600);
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button,
.button1 {
  cursor: pointer;
}
.button1 {
  align-self: stretch;
}
.frame,
.frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame1 {
  align-self: stretch;
  height: 437px;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frame {
  width: 100%;
  height: 609px;
  justify-content: space-between;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 530px;
  text-align: left;
  font-size: var(--heading-h1-semibold-size);
  color: var(--colors-text-neutral-800);
  font-family: var(--body-body-2);
}
