@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-body-2: Inter;

  /* font sizes */
  --body-body-2-size: 14px;
  --font-size-mini: 15px;
  --heading-h2-size: 48px;
  --body-body-1-size: 16px;
  --heading-h5-size: 24px;
  --subtitle-subtitle-1-size: 18px;
  --font-size-53xl: 72px;
  --heading-h1-semibold-size: 32px;

  /* Colors */
  --colors-background-neutral-white: #fff;
  --colors-text-neutral-800: #27272a;
  --text-gray-900: #18191f;
  --default-black: #0b0d17;
  --text-gray-300: #d9dbe1;
  --text-gray-800: #474a57;
  --color-black: #000;
  --color-plum: #ffb1e6;
  --colors-text-neutral-600: #52525b;
  --color-darkorange: #fe9a22;
  --color-darkturquoise: #2ec5ce;

  /* Spacing */
  --gap-sm: 8px;
  --gap-xl: 24px;
  --gap-lg: 16px;
  --buttons: 8px;
  --gap-xs: 4px;
  --gap-md: 12px;
  --input: 8px;

  /* Gaps */
  --gap-400xl: 419px;
  --gap-base: 16px;
  --gap-31xl: 50px;
  --gap-11xl: 30px;
  --gap-9xs: 4px;
  --gap-21xl: 40px;
  --gap-5xs: 8px;
  --gap-23xl: 42px;
  --gap-13xl: 32px;
  --gap-125xl: 144px;
  --gap-3xs: 10px;
  --gap-1120xl: 1139px;
  --gap-12xs: 1px;

  /* Paddings */
  --padding-3xl: 22px;
  --padding-11xl: 30px;
  --padding-81xl: 100px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-20xl: 39px;
}

@media screen and (max-width: 767px) {
  :root {
    /* Ajustes para pantallas pequeñas */
    --body-body-2-size: 14px;
    --font-size-mini: 14px;
    --heading-h2-size: 30px;
    --body-body-1-size: 14px;
    --heading-h5-size: 18px;
    --subtitle-subtitle-1-size: 16px;
    --font-size-53xl: 48px;
    --heading-h1-semibold-size: 20px;

    /* Otros ajustes según sea necesario */
  }

  /* Otras reglas de estilo específicas para pantallas pequeñas */
}
