.seconnecterelev {
  position: relative;
  background-color: var(--colors-background-neutral-white);
  width: 100%;
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
